{% extends "base.html" %}

{% block body %}
    <h3>TOGETHER WITH THEIR FAMILIES</h3>
    <h1>
        {{ lady.fullname }}<br/>
        &<br/>
        {{ gentleman.fullname }}
    </h1>

    <p>
        INVITE YOU TO JOIN THEM AT THE<br/>
        CELEBRATION OF THEIR WEDDING
    </p>

    <h2>SATURDAY, THE FIFTH OF NOVEMBER</h2>

    <h4>
        TWO THOUSAND TWENTY<br/>
        AT HALF PAST SEVEN O'CLOCK IN THE EVENING
    </h4>

    <p>
        OUR LADY OF LOURDES CHURCH<br/>
        2167 SPARROW STREET<br/>
        LOS ANGELES, CALIFORNIA
    </p>
{% endblock %}
