{% extends "base.html" %}

{% block body %}
    <h1>Dear {{ employee.first_name }} {{ employee.last_name }},</h1>

    <p>
        I've added you as an accountant in our office organization.
        Just click on the button below and you will gain instant access to our account.
    </p>

    <div class="button">
        <a href="http://localhost/invitation-link/">
            Accept invitation
        </a>
    </div>

    <p>
        Regards,<br/>
        HANKA Precision Instruments
    </p>
{% endblock %}
